
<div class="body__box-content">
    <div class="body__box-content-item">

        <% if(!todo.completed) { %> 
            <p><%= todo.description  %>  </p>

            <a href="#" class="button-edit">
                <img src="asset/edit.png" class="img-edit">
            </a>
            
            <a href="#" class="button-not-done">
                <img src="asset/cancel.png" class="#">
            </a>

        <% } else { %>
            <p class="todo-completed"><%= todo.description  %>  </p>

            <a href="#" class="button-edit">
                <img src="asset/edit.png" class="img-edit">
            </a>
            <a href="#" class="button-completed">
                <img src="asset/done.png" class="#">
            </a>
        <% } %> 

        <a href="/todo/delete/<%= todo.id%>" class="button-x">
            <img src="asset/delete.png" class="#">
        </a>
    </div>
</div>


<!-- todo-completed -->