
<div class="body__box-content">
    <div class="body__box-content-item">

        <% if(!todo.completed) { %> 
            <input type="text" class="text" value="<%= todo.description  %>" readonly="readonly"/>

            <div class="btn btn-edit">
                <a href="#">
                    <img src="asset/edit.png" class="img-edit">
                </a>
            </div>
            
            <div class="btn btn-not-done">
                <a href="#">
                    <img src="asset/cancel.png" class="#">
                </a>
            </div>


        <% } else { %>
            <input type="text" class="text" value="<%= todo.description  %>" readonly="readonly"/>

            <div class="btn btn-edit">
                <a href="#">
                    <img src="asset/edit.png" class="img-edit">
                </a>
            </div>

            <div class="btn btn-completed">
                <a href="#">
                    <img src="asset/done.png" class="#">
                </a>
            </div>
        <% } %> 

        <div class="btn btn-x">
            <a href="/todo/delete/<%= todo.id%>">
                <img src="asset/delete.png" class="#">
            </a>        
        </div>

    </div>
</div>


<!-- todo-completed -->