/* ------------ INIT ------------ */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
    --primary-color: #edf2f8;
    --secondary-color: #F9F2ED;
    --pink-color: #EC4899;
    --purple-color: #8B5CF6;
    --white-color: #eeeeee;
    --font-sora : 'Titillium Web', sans-serif;
}
 


html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: var(--font-sora );
    color: var(--white-color);
}

body{
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(#141e30, #243b55);
    

    display: flex;
    flex-direction: column;
}


/* ------------ CLASS ------------ */


.msg-full-screen{
    display: none;
}

h1 {
    color: var(--white-color);
}

a {
    text-decoration: none;
    color: #030303;
    font-size: 1rem;
}

img {
    height: 100%;
    filter: invert(80%);
    -webkit-filter: invert(80%);
    opacity: 0.6;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;
}

.btn>a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{

    color: red;
    font-size: 0.8rem;
}




/* ------------ HEADER ------------ */
.header {
    display : flex;

    justify-content: center;
    align-items: center; 
    margin: 0rem auto 0 auto;

    width:30rem; 
    height: 10rem;
}

.head__nav-title, h1 {
    width:100%;
    height: auto;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: var(--font-sora);
    font-size: 4rem;
}

.head__nav-content{
    display : flex;
    justify-content: center;
    align-items: center;
}


/* ------------ BODY ------------ */
.scrollable {
    display : flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    margin: auto 1rem auto 1rem;

}

.body__box{
    display : flex;
    flex-direction: column;
    padding : 0;
    align-items: center; 
    margin: 0 auto 3rem auto;

    width:30rem; 
    
}

.body__box_two {
    display : flex;
    flex-direction: column;
    padding : 0;
    align-items: center; 
    margin: 0 auto 5rem auto;

    width:55rem;
}

/* FORM */
.body__box-form {
    display: flex;
    flex-direction: row;
    padding : 0;
    justify-content: center;
    align-items: center; 
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
}

.body__box-form-label{
   margin-bottom: 0.2rem;
}

.body__box-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem 0 1rem;
    height: 100%;
    border: none;
}

.form-desc-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0.3rem 0 0.3rem;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__box-form-input{
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
    transition: all 0.3s ease-in-out;
}
.body__box-form-input:focus {
    /* border-radius: 0.25rem; */
    border: none;
    box-shadow: black 0px 5px 15px;
    background-color: var(--white-color);
}
.body__box-form-input:hover {
    /* border-radius: 0.25rem; */
    border: none;
    background-color: var(--white-color);
}

.body__box-form-button {
    width: 6rem;
    height: 2.5rem;
    margin-left: 1rem;
    font-size: 1rem;

    color: var(--white-color);
    background-color: transparent;
    border: 1px solid rgba(101, 137, 255, 0.25);
    /* border-radius: 3px; */
    transition: all 0.3s ease-in-out;
}
.body__box-form-button:hover {
    color: black;
    box-shadow: none;
    background-color: #6589FF;
}

/* FILTER */

.body__box-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 3rem;
}

.btn-active {
    width: 4.5rem;
    margin: auto;
    margin-left: 0.3rem;
    height: 1.3rem;
    font-size: 0.8rem;

    color: var(--white-color);
    background-color: transparent;
    border-bottom: 1px solid #fe5249;
    box-shadow: 0px 3px 0 #fe5249;
    transition: all 0.3s ease-in-out;
}
.btn-active:hover {
    color: black;
    /* border-radius: 3px; */
    background-color: #fe5249;
    box-shadow: none;
}

.btn-text {
    width: 4.5rem;
    margin: auto;
    margin-left: 0.3rem;
    height: 1.3rem;
    font-size: 0.8rem;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid #fe52497f;
    transition: all 0.3s ease-in-out;
}
.btn-text:hover {
    color: black;
    /* border-radius: 3px; */
    background-color: #fe5249;
}


/* CONTENT */
.body__box-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding : 0;
    justify-content: center;

    width: 100%;
    height: 4rem;
    margin: 0;
    margin-bottom: 1rem;

}

.body__box-content-item{
    background: transparent;
    display: flex;
    flex-direction: row;
    padding : 0;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border-bottom : 1px solid var(--white-color);
}

.body__box-content-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.checkbox{
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    margin: auto ;
    cursor: pointer;
    border-radius: 00.25rem;
    background: var(--white-color);
    transition: all 0.3s ease-in-out;
}
.checkbox:checked {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    margin: auto ;
    cursor: pointer;
    background: #030303;;
    border-top-style: none;
    border-right-style: none;
}


.hidden{
    display: none;
}



.body__box-content-item-input{
    margin: auto 1rem auto 0.3rem;
    width: 100%;
    padding: 0.3rem;
    outline: none;
    background: transparent;
    border: none;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}
.body__box-content-item-input:not(:read-only) {
	color: var(--pink-color);
}

.todo-completed{
    color: transparent;
   text-shadow: 0 0 2px rgb(161, 161, 161);
}




.btn-not-done {
    width: 2rem;
    margin: auto;
    margin-left: 0.3rem;
    margin-right: 0.7rem;
    height: 1.2rem;

    background-color: transparent;
    filter: invert(25%) sepia(99%) saturate(7493%) hue-rotate(3deg) brightness(96%) contrast(119%);
}
.btn-not-done>img{
    opacity: 0.8;
}

.btn-completed {
    width: 2rem;
    margin: auto;
    margin-left: 0.3rem;
    margin-right: 0.7rem;
    height: 1.2rem;

    background-color: transparent;
    filter: invert(54%) sepia(81%) saturate(3536%) hue-rotate(88deg) brightness(123%) contrast(127%);
}
.btn-completed>img{
    opacity: 0.8;
}

.btn-edit {
    width: 3rem;
    margin: auto;
    margin-left: 0.3rem;
    height: 1.5rem;

    background-color: transparent;
    /* border-radius: 3px; */
    transition: all 0.3s ease-in-out;
}
.btn-edit:hover {
    box-shadow: none;
    background-color: #fb49fe;
}
.btn-edit>button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}
.btn-edit>button>img:hover {
    filter: invert(0%);
    -webkit-filter: invert(0%);
    opacity: 1;
    cursor: pointer;
}

.btn-x {
    width: 3rem;
    margin: auto;
    margin-right: 1rem;
    margin-left: 0.3rem;
    height: 1.5rem;

    background-color: transparent;
    /* border-radius: 3px; */
    transition: all 0.3s ease-in-out;
}
.btn-x:hover {
    box-shadow: none;
    background-color: #fe5249;
}
.btn-x>a>img:hover {
    filter: invert(0%);
    -webkit-filter: invert(0%);
    opacity: 1;
}


/* ------------ FOOTER ------------ */
.footer {
    height: 10%;
    width:100%;
    padding : auto;
    text-align: center;
}

.footer__content{
    height: 100%;
    width: 100%;
}


/* ------------ MEDIA QUERY ------------ */

@media screen and (min-width: 400px) and (max-width: 950px){
    .container {
        display: none;
    }

    .msg-full-screen{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
        color: var(--white-color);
        background: linear-gradient(#141e30, #243b55);
    }
}

@media screen and (max-width: 400px) {
    .container {
        display: none;
    }

    .msg-full-screen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white-color);
        background: linear-gradient(#141e30, #243b55);
    }
}