
<body>
    <div class="body__box">
        <div class="body__box-form">
            <form action='/todo/createTodo' method="POST">
                <label for="name">Description :</label>
                <div class="form-desc-button">
                    <div class="form-input">
                        <input type="text" name="description" placeholder="What do you have planned?">
    
                    </div>
                    <div class="form-button">
                        <button type="submit">Add</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="body__box-filter">
            <button class="p-active p-text button-filter">All</button>
            <button class="p-text button-filter">Active</button>
            <button class="p-text button-filter">completed</button>
            <button class="p-text button-filter">item left</button>
        </div>
    </div>

    <div class="body__box_two">
        <% todos.forEach((todo) => { %>
            <%- include('../partials/todos', { todo }) %>
        <% })%>
    

        <!-- <div class="body__box-content">
            <div class="body__box-content-item">
                <h4>TITLE</h4>
                <p class="todo-completed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button class="button-done" id="edit-content">Edit</button>
                <button class="button-x" id="undo-content"><a href="#">Undo</a></button>
            </div>
        </div> -->
    </div>
</body>
<script src="javascript/main.js"></script>