
<body>
    <div class="body__box">
        <div class="body__box-form">
            <form action='#' method="POST" class="body__box-item">
                <input type="text" name="newItem" placeholder="Add a todo">
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="body__box-display">
            <div class="body__box-item">
                <input type="checkbox">
                <p>ITEM</p>
                <div class="box-icon"> X </div>
            </div>
        </div>
        <div class="body__box-order">
            <div class="p-active p-text">item left</div>
            <div class="p-text">All</div>
            <div class="p-text">Active</div>
            <div class="p-text">completed</div>
            <div class="p-text">Clear Completed</div>
        </div>
    </div>
</body>