<% error = typeof error !== 'undefined' ? error : undefined %>

<body>
    <div class="body__box">
        <div class="body__box-form">
            <form action='/todo/createTodo' method="POST" autocomplete="off">
                <label for="name" class="body__box-form-label">Todo</label>
                <div class="form-desc-button">
                    <div class="form-input">
                        <input autocomplete="off" type="text" name="description" placeholder="What do you have planned?" class="body__box-form-input">
    
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn body__box-form-button">Add todo</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <div class="body__box-filter">
        <a href="/todo" class="btn-active btn">All</a>
        <a href="/todo/completePage" class="btn-text btn">completed</a>
        <a href="/todo/itemLeft" class="btn-text btn">item left</a>
    </div>

    <div class="body__box_two">
        <% todos.forEach((todo) => { %>
            <%- include('../partials/todos', { todo }) %>
        <% })%>
    

        <!-- <div class="body__box-content">
            <div class="body__box-content-item">
                <h4>TITLE</h4>
                <p class="todo-completed">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button class="button-done" id="edit-content">Edit</button>
                <button class="button-x" id="undo-content"><a href="#">Undo</a></button>
            </div>
        </div> -->
    </div>
</body>
<script src="javascript/main.js"></script>